* {
  margin: 0;
  padding: 0;
}
.header {
  height: 60px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.section-1 {
  height: 600px;
  background-image: url("/images/details_banner.png");
  display: flex;
  justify-content: center;
  justify-items: center;
}
.headfont {
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  font-size: 40px;
}
.section-2 {
  height: 700px;
  background-color: crimson;
}
.section-3 {
  height: 600px;
}
.section-4 {
  height: 800px;
}
.section-5 {
  height: 800px;
}
.headbtn {
  border: none;
  margin-left: 25px;
  margin-bottom: 25px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.touchbtn {
  background-color: white;
  color: black;
  border: 2px solid #252525;
  padding: 15px 32px;
}
