* {
   margin: 0;
   padding: 0;
}
.container {
   margin: 23px 0px;
   justify-content: space-between;
   display: flex;
   width: 80%;
}
.das {
   text-decoration: none;
   color: #000000;
}
.header {
   background-color: #ffffff;
   display: flex;
   justify-content: center;
}
.logo img {
   height: 40px;
   width: 123px;
}
.section-1 {
   height: 600px;
   background-image: url("/images/details_banner.png");
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.headfont h1 {
   font-family: "Roboto", sans-serif;
   color: #ffffff;
   font-size: 70px;
}
.headfont p {
   font-family: "Playfair Display", serif;
   color: #ffffff;
   font-size: 20px;
   justify-content: center;
}
ul {
   text-align: center;
}
ul li {
   border: none;
   margin-left: 15px;
   margin-bottom: 25px;
   list-style: none;
   display: inline-block;
   text-align: center;
   font-size: 12px;
   font-family: "Roboto", sans-serif;
}
.dpdn-menu {
   display: none;
}
.dpdn ul {
   display: none;
   background-color: #ffffff;
}
.dpdn:hover ul {
   display: block;
   position: absolute;
}
.dpdn:hover li {
   display: block;
   text-align: left;
   margin-top: 28px;
   padding-right: 25px;
}
.headbtn {
   border: none;
   font-family: "Roboto", sans-serif;
   font-size: 11px;
}
.section-2 {
   padding: 30px 20px;
}
.section-2 div {
   padding: 40px 0;
}
.section-2 h6 {
   font-family: "Roboto", sans-serif;
   color: #afafaf;
   text-align: center;
   margin-top: 60px;
}
.section-2 h3 {
   font-family: "Roboto", sans-serif;
   color: #000000;
   text-align: center;
   font-size: 45px;
   margin-top: 10px;
}
.aboutusImg {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 100px;
   margin-right: 100px;
}
.card {
   width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px;
}
.card img {
   width: 70%;
   margin-bottom: 10px;
}
.card p {
   margin-top: 10px;
   text-align: center;
   color: #afafaf;
}
.card h2 {
   margin-top: 20px;
   font-family: "Roboto", sans-serif;
}

.section-3 {
   background-image: url("/images/testmonial-bg.png");
   text-align: center;
}
.section-3 img {
   width: 8%;
   margin-top: 150px;
}
.section-3 p {
   color: #ffffff;
   font-family: "Playfair Display", serif;
   font-size: 25px;
   margin-top: 30px;
}
.section-3 h4 {
   color: #ffffff;
   font-family: "Roboto", sans-serif;
   margin-top: 40px;
}
.section-3 h5 {
   color: #ffffff;
   font-family: "Playfair Display", serif;
   font-size: 20px;
   margin-top: 10px;
   padding-bottom: 220px;
}
.section-4 {
   padding: 140px 120px;
   display: flex;
   justify-content: space-between;
}
.section-4 img {
   width: 500px;
   height: 600px;
}
.sec4-form {
   width: 500px;
}
.sec4-form h6 {
   color: #afafaf;
   font-family: "Roboto", sans-serif;
   margin-bottom: 30px;
   margin-top: 15px;
   font-size: 13px;
}
.sec4-form h1 {
   font-size: 48px;
   font-family: "Roboto", sans-serif;
   margin-bottom: 20px;
}
.sec4-form hr {
   width: 20%;
   height: 2px;
   background: #000000;
   margin-bottom: 50px;
}
.sec4-form input {
   height: 40px;
   width: 100%;
   margin-top: 10px;
   border: solid #adadad 1px;
   padding-left: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 20px;
   margin-bottom: 20px;
   font-family: "Playfair Display", serif;
}
.sec4-form textarea {
   height: 100px;
   width: 100%;
   margin-top: 10px;
   padding-left: 15px;
   padding-top: 10px;
   border: solid #adadad 1px;
   font-size: 20px;
   margin-bottom: 20px;
   font-family: "Playfair Display", serif;
}
.buttons {
   display: flex;
   justify-content: space-between;
   padding-top: 10px;
}
.buttons a:hover {
   color: #adadad;
}
.touchbtn {
   background-color: #ffffff;
   color: #000000;
   border: 2px solid #252525;
   padding: 15px 32px;
}
.sec4-form button {
   background-color: #ffffff;
   color: #000000;
   border: 1px solid #252525;
   padding: 25px 45px;
}
.footer {
   height: 500px;
   background-image: url("/images/footer-bg.png");
   padding: 200px 100px;
   display: flex;
}
.logos {
   height: 450px;
   width: 30%;
}
.logos img {
   margin-left: 60px;
}
.info {
   display: flex;
   height: min-content;
   width: 100%;
   border-bottom: 1px solid#888888;
}
.info h1 {
   font-size: 34px;
   font-family: "Roboto", sans-serif;
   color: #ffffff;
}
.info p {
   color: #929292;
   font-family: "Playfair Display", serif;
   font-size: 20px;
}
.info button {
   background-color: transparent;
   font-family: "Roboto", sans-serif;
   color: #ffffff;
   border: 1px solid #ffffff;
   padding: 20px 50px;
   margin-left: 80px;
   margin-top: 10px;
   margin-bottom: 60px;
}
.foot-menu-bar {
   display: flex;
   margin-top: 110px;
}
.ftmenu {
   width: 25%;
   color: #ffffff;
   font-size: 15px;
}
.ftmenu p {
   font-family: "Roboto", sans-serif;
}
.ftmenu ul {
   float: left;
   margin-top: 30px;
   display: flex;
   flex-direction: column;
}
.ftmenu li {
   text-align: justify;
   float: right;
   margin-left: 0px;
   color: #686868;
   font-family: "Roboto", sans-serif;
}
.soclogo {
   margin-top: 30px;
   margin-left: 50px;
}
.logos i {
   color: #ffffff;
   background: #494949;
   padding: 10px;
   border-radius: 50%;
   margin-left: 15px;
}
.header-more {
   position: relative;
   flex-direction: column;
   justify-content: space-between;
   width: 35px;
   height: 25px;
   display: none;
   margin-top: 10px;
   cursor: pointer;
   position: relative;
   user-select: none;
}
.bar {
   height: 2px;
   width: 100%;
   background-color: #000000;
   border-radius: 10px;
}
.menu {
   display: none;
}
.menu-btn {
   display: none;
}
/* ---media query--- */
@media (min-width: 481px) and (max-width: 768px) {
   .buttons {
      display: none;
   }
   .git {
      display: none;
   }
   .header-more {
      display: flex;
      margin-left: 400px;
      width: 100%;
   }
   .logo img {
      height: 40px;
      width: 105px;
   }
   .headfont h1 {
      font-size: 40px;
   }
   .headfont p {
      font-size: 20px;
   }
   .headfont {
      margin-left: 50px;
   }
   .aboutusImg {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 15px;
      margin-right: 15px;
   }
   .card img {
      width: 50%;
      margin-bottom: 10px;
   }
   .card p {
      margin-top: 10px;
      text-align: center;
      color: #afafaf;
      font-size: 12px;
      line-height: 25px;
      padding-left: 10px;
      padding-right: 10px;
   }
   .card h2 {
      margin-top: 20px;
      font-family: "Roboto", sans-serif;
   }
   .section-2 h3 {
      font-size: 25px;
      margin-top: 10px;
   }
   .section-4 {
      padding: 60px 50px;
   }
   .section-4 img {
      width: 270px;
      height: 300px;
      margin-top: 70px;
   }
   .sec4-form {
      width: 270px;
   }
   .sec4-form h6 {
      font-size: 10px;
      margin-bottom: 15px;
   }
   .sec4-form h1 {
      font-size: 25px;
   }
   .sec4-form hr {
      margin-bottom: 20px;
   }
   .sec4-form input {
      height: 20px;
      margin-top: 5px;
      padding-left: 7px;
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 12px;
      margin-bottom: 10px;
   }
   .sec4-form textarea {
      height: 50px;
      width: 100%;
      margin-top: 5px;
      padding-left: 7px;
      padding-top: 3px;
      font-size: 12px;
      margin-bottom: 20px;
   }
   .header ul {
      overflow: hidden;
      margin-top: 80px;
      text-align: left;
   }
   .menu a {
      width: 100%;
      margin-right: 2000px;
      text-decoration: none;
      color: #000000;
   }
   .menu a:hover {
      color: #686868;
   }
   .menu {
      max-height: 0;
      display: flex;
      flex-direction: column;
   }
   .header .menu-btn:checked ~ .menu {
      max-height: 260px;
   }
}
@media (max-width: 500px) {
   .buttons {
      display: none;
   }
   .git {
      display: none;
   }
   .header-more {
      display: flex;
      height: 18px;
      width: 20px;
   }
}
